body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.admin_nav, .dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    top: 0;
    z-index: 1000; /* Ensure the navbar stays above other content */
}

.admin_nav a, .dashboard a {
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 10px 20px;
    border-radius: 4px;
}

.admin_nav a:hover, .dashboard a:hover {
    background-color: rgb(181, 0, 0);
}

.admin_nav a:active, .dashboard a:active {
    transform: scale(0.95);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

td img {
    max-width: 100px;
}

button,
.dashboard a {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #333;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}

.dashboard a {
    background-color: Red !important;
}

button:hover{
    background: #555;
}

.dashboard a:hover {
    background: rgb(181, 0, 0);
}

button:active,
.dashboard a:active {
    transform: scale(0.95);
}

.errors {
    background: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 4px;
    margin-bottom: 20px;
}

.errors ul {
    list-style-type: none;
    padding: 0;
}

.errors li {
    margin-bottom: 5px;
}

.description {
    height: 250px;
}

.more_urls {
    height: 150px;
}

/* Custom dropdown menu styling */
select option {
    background-color: white;
    color: black;
}

select option:hover,
select option:focus {
    background-color: red; /* Change to red on hover */
    color: white; /* Change text color to white */
}

.small_button {
    padding: 5px 10px;
    font-size: 14px;
    text-decoration: none;
    color: white;
    background-color: #333;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
}

.small_button:hover {
    background-color: #555;
}

.small_button:active {
    transform: scale(0.95);
}