.form__field{
    position: relative;
    display: flex;
    align-items: center;
}

.icon,
.boo{
    position: absolute;
    right: 10px;
    cursor: pointer;
    z-index: 1;
}

.inpField{
    width: 50%;
    padding-right: 30px;
}