@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&family=Oxanium:wght@200..800&display=swap');

body{
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.WebshopLogin {  
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%; /* Make the login form responsive */
    max-width: 400px; /* Restrict the maximum width */
    margin: 0 20px; /* Add a bit of side margin for smaller screens */
    padding: 20px;
}

/* Styling for form elements */
.form_title {
    text-align: center;
    margin-bottom: 20px;
}

.form_field {
    margin-bottom: 15px;
}

.form_field input {
    width: 100%; /* Make inputs responsive */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form__field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#rememberMe {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

input[type="checkbox"]:checked {
    accent-color: red;
}

input[type="text"], input[type="password"] {
    font-family: "Khand", sans-serif;
    font-weight: 300;
    font-style: normal;
}



.form__field input[type="submit"] {
    width: auto;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.inpField{
    width: 60%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#signUpLink {
    text-decoration: none;
    color: black;
    font-size: .7em;
    display: block;
    margin-top: 25px;
   
}

#button {
    width: 25%;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#button:hover {
    background-color: #ff0000;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .login {
        max-width: 90%; /* Take up more width on small screens */
    }
}
