body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    color: #333;
}

p {
    color: #555;
}

h2 {
    color: #333;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

label {
    font-weight: bold;
    color: #555;
}

input[type="password"], input[type="text"], input[type="email"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    padding-right: 30px; /* Extra padding for icon */
    box-sizing: border-box; /* Ensures padding doesn't affect width */
    width: 100%; /* Full width */
}

button {
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    align-self: center;
}

button:hover {
    background-color: rgb(181, 0, 0);
}

.form-group label {
    align-self: start;
}

.form__field {
    position: relative;
    display: flex;
    align-items: center;
}

.icon_verify {
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.icon {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.icon3 {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 1;
}

.inpField {
    padding-right: 40px; /* Ensure enough space for icon */
    width: 100%;
}
